{% extends 'base.html' %} {% block title %} 404 {% endblock %} {% block content %}
<div class="content text-center">
  <h3>404 - Page not found</h3>
  <h4>
    This redirect does not exist or has been removed. Shorten another URL.
  </h4>
  <form class="lead m-t-15" action="{{url_for('url.index')}}" method="POST" accept-charset="utf-8">
     <div class="">
       <input type="submit" name="submit" value="<< Short again" class="btn btn-lg btn-default clickable">
     </div>
  </form>
</div>

{% endblock %}