{% extends 'base.html' %}

{% block title %} Url Shortner {% endblock %}

{% block content %}
<div class="navbar">
      <div class="main-title">  <a href="{{url_for('shortner.index')}}">Shortner</a></div>
	<div class="analytics">
           <a href="{{url_for('users.logout')}}">Logout</a>
      </div>
      <div class="analytics">
           <a href="{{url_for('analytics.report')}}">Analytics</a>
      </div>
</div>
<div class="container">
	<div class="content">
    {# Start message part. This part wil be triggered only when there is some messages to show.#}
            {%with messages = get_flashed_messages()%}
            	{% if messages %}
            		{% for message in messages %}
		            	<div class="alert alert-danger" role="alert">
		  					<p><strong> Warning!</strong> {{message}}</p>
						</div>
					{% endfor %}
            	{% endif %}
            {% endwith %}
            {# End message part.#}
     <form class="lead" action="{{url_for('shortner.index')}}" method="POST" accept-charset="utf-8">
		 {{ form.hidden_tag() }}
		 <div class="form-group {% if form.long_url.errors %} has-error {% endif %}">
			 {{ form.long_url(placeholder="Paste a link to shorten it (required) ", class="form-control") }}
		 </div>
		 <div class="form-group m-t-15 {% if form.long_url.errors %} has-error {% endif %}">
			 {{ form.custom_code(placeholder="You can choose your own short code (optional)", class="form-control") }}
		 </div>
		 <p class="lead m-t-15">
			 <input type="submit" name="submit" value="Generate short url" class="btn btn-lg btn-default clickable">
		 </p>
	 </form>

	<div class="row">
		{# Start short URL part. This part wil be triggered only when there is a generated short URL to show.#}
		{%if short_url%}
		<div class="col-sm-10">
			<span class="text-success">Congratulation!</span>
		</div>
		<div class="col-sm-10 m-t-15">
			<span>Your new url is </span>
			<span class="text-success"><a href={{short_url}}>{{short_url}}</a></span>
		</div>
		{%endif%}
		{# End short URL part.#}
	</div>
</div>
</div>


{% endblock %}
